/* RecipeBook.css */

.recipe-book-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	margin-left: 200px;
}

.recipe-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: left;
	flex-direction: row; /* Add this line */
}

.recipe-card {
	width: 18rem;
	border: 2px solid #a94c40;
	border-radius: 10px;
	overflow: hidden;
}

.recipe-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.recipe-card .card-body {
	padding: 1rem;
}

.recipe-card .card-title {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.recipe-card button {
	margin-top: 10px;
	margin-right: 10px;
}


.clickable-card {
    cursor: pointer;
}

.clickable-card:hover .recipe-card {
    /* Apply styles to indicate hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Example shadow effect */
}